# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Build
build/
dist/

# Test
work/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# PyInstaller Backup
*.spec.bak